/*! custom.css | MIT License */

section.intro {
  border-bottom: 1px solid rgba(76, 76, 76, 0.17);
  padding: 0 0 6rem 0;
}

section {
  padding: 6rem 0;
}

.links {
  margin-bottom: 0;
}

.portfolio-of-awesome .row.section-header {
  margin-bottom: 0;
}

.portfolio-of-awesome .row {
  margin-bottom: 3rem;
}

.project-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  height: 70px;
}

.details {
  margin-top: 3.5rem;
}

.icon {
  float: left;
  margin-right: 3rem;
}

.icon.apple {
  border-radius: 11px;
}

.icon-link {
  color: #222;
}

.download {
  font-size: .5rem;
}

@media screen and (max-width: 550px) {
  .hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}

.about-me {
  border-top: 1px solid rgba(76, 76, 76, 0.17);
}

.puppies {
  max-width: 200px;
}
