/*! custom.css | MIT License */

section.intro {
  padding: 0;
}

section {
  padding: 6rem 0;
}

.portfolio-of-awesome .row {
  margin-bottom: 1.5rem;
}

.project-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  margin-top: 2rem;
}

.details {
  margin-top: 3.5rem;
}

.icon {
  float: left;
  margin-right: 3rem;
}

.icon.apple {
  border-radius: 11px;
}

/*.column {
  text-align: center;
}

.background-image {
  background: url(../images/mountain-man.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero .column {
  color: white;
}

.background-image:before {
  content: "";
  background-color: rgb(99, 99, 99);
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width:100%;
}*/